*{
  font-family: 'Actor', sans-serif;
}

@media only screen and (max-width: 800px) {
  body {font-size: 0.5em;}
}

#header {
  display: flex;
  align-items: center;
}
#header-img {
  width: 10em;
}
nav {
  flex: auto;
  text-align: right;
  background: transparent;
  padding: 1.5em;
  position: fixed;
  top: 0;
  right: 0;
}
.nav-link {
  margin: 1em;
  color: black;
  text-decoration: none;
}
.lilnasx {
  display: flex;
  justify-content: center;
  align-items: center;
}
#lilnas {
  width: 100%;
}
.underwear {
  display: flex;
  justify-content: center;
  align-items: center;
}
#markymark {
  width: 50%;
  object-fit: fill;
}
#jacob-elordi {
  width: 50%;
}
.underwear-text {
  position: absolute;
}
#underwear-text {
  border-style: solid;
  border-color: white;
  margin: auto;
  padding: 20px 40px 20px 40px;
  color: white;
  font-size: 2.3em;
}
.kendalj {
  display: flex;
  justify-content: center;
  align-items: center;
}
#kendal {
  width: 100%;
}
#shop-black {
  position: absolute;
  border-style: solid;
  border-clor: #000;
  padding: 20px 40px 20px 40px;
  color: #000;
  font-size: 3em;
}
#shop-underwear {
  position: absolute;
  display: flex;
  flex-container: column;
  border-style: solid;
  border-clor: white;
  padding: 20px 40px 20px 40px;
  color: white;
  font-size: 3em;
}
#shop-white {
  position: absolute;
  border-style: solid;
  border-clor: white;
  padding: 20px 40px 20px 40px;
  color: white;
  font-size: 3em;
}
#form {
  font-size: 4em;
  padding-top: 3em;
}
#ytvid {
  padding-top: 5em;
  width: 100%;
  height: 100vh;
  background-image: url(images/background.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
}
#video {
  position: absolute;
  display: flex;
  justify-content: center;
}
#form {
  padding-left: 5em;
}
#submit {
  width: 6em;
  color: black;
  background: white;
  border-radius: 20px;
  border-color: black;
}
